/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
/* line 14, flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 17, flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 21, flexslider.scss */
.flexslider {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 23, flexslider.scss */
.flexslider .slides img {
  max-width: 100%;
  display: block;
}

/* line 24, flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 27, flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 28, flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 29, flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 34, flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 40, flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 41, flexslider.scss */
.flexslider .slides > li {
  position: relative;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
/* line 43, flexslider.scss */
.flex-container {
  zoom: 1;
  position: relative;
}

/* Caption style */
/* IE rgba() hack */
/* line 47, flexslider.scss */
.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
}

/* line 49, flexslider.scss */
.flex-caption {
  width: 96%;
  padding: 2%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}

/* Direction Nav */
/* line 52, flexslider.scss */
.flex-direction-nav {
  height: 0;
  top: 50%;
  position: absolute;
  display: none;
}

/* line 53, flexslider.scss */
.flex-direction-nav li a {
  width: 52px;
  height: 52px;
  margin: -13px 0 0;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  text-indent: -999em;
}

/* line 54, flexslider.scss */
.flex-direction-nav li .next {
  background-position: -52px 0;
  right: -40px;
}

/* line 55, flexslider.scss */
.flex-direction-nav li .prev {
  left: -40px;
}

/* line 56, flexslider.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 59, flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}

/* line 60, flexslider.scss */
.flex-control-nav li {
  margin: 0 0 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 61, flexslider.scss */
.flex-control-nav li:first-child {
  margin: 0;
}

/* line 62, flexslider.scss */
.flex-control-nav li a {
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  text-indent: -999em;
}

/* line 64, flexslider.scss */
.flex-control-nav a {
  padding: 3px;
  font-size: 0;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #848484;
}

/* line 72, flexslider.scss */
.flex-control-nav a.active, .flex-control-nav a.active:hover {
  padding: 5px;
  background: #848484;
  border: 0;
}

/* line 78, flexslider.scss */
.flex-control-nav a:hover {
  padding: 3px;
  border: 2px solid #848484;
  background: #ccc;
}
