.debug ._1,
.debug ._1-2,
.debug ._1-3,
.debug ._2-3,
.debug ._1-4,
.debug ._3-4,
.debug ._1-5,
.debug ._2-5,
.debug ._3-5,
.debug ._4-5,
.debug ._1-6,
.debug ._5-6 {
  background: rgba(255, 100, 100, 0.5);
}

._1,
._1-2,
._1-3,
._2-3,
._1-4,
._3-4,
._1-5,
._2-5,
._3-5,
._4-5,
._1-6,
._5-6 {
  float: left;
  padding: 1.75em .75em;
  box-sizing: border-box;
  *behavior: url(/assets/boxsizing.htc);
  -moz-box-sizing: border-box;
}
._1 ._1,
._1 ._1-2,
._1 ._1-3,
._1 ._2-3,
._1 ._1-4,
._1 ._3-4,
._1 ._1-5,
._1 ._2-5,
._1 ._3-5,
._1 ._4-5,
._1 ._1-6,
._1 ._5-6,
._1-2 ._1,
._1-2 ._1-2,
._1-2 ._1-3,
._1-2 ._2-3,
._1-2 ._1-4,
._1-2 ._3-4,
._1-2 ._1-5,
._1-2 ._2-5,
._1-2 ._3-5,
._1-2 ._4-5,
._1-2 ._1-6,
._1-2 ._5-6,
._1-3 ._1,
._1-3 ._1-2,
._1-3 ._1-3,
._1-3 ._2-3,
._1-3 ._1-4,
._1-3 ._3-4,
._1-3 ._1-5,
._1-3 ._2-5,
._1-3 ._3-5,
._1-3 ._4-5,
._1-3 ._1-6,
._1-3 ._5-6,
._2-3 ._1,
._2-3 ._1-2,
._2-3 ._1-3,
._2-3 ._2-3,
._2-3 ._1-4,
._2-3 ._3-4,
._2-3 ._1-5,
._2-3 ._2-5,
._2-3 ._3-5,
._2-3 ._4-5,
._2-3 ._1-6,
._2-3 ._5-6,
._1-4 ._1,
._1-4 ._1-2,
._1-4 ._1-3,
._1-4 ._2-3,
._1-4 ._1-4,
._1-4 ._3-4,
._1-4 ._1-5,
._1-4 ._2-5,
._1-4 ._3-5,
._1-4 ._4-5,
._1-4 ._1-6,
._1-4 ._5-6,
._3-4 ._1,
._3-4 ._1-2,
._3-4 ._1-3,
._3-4 ._2-3,
._3-4 ._1-4,
._3-4 ._3-4,
._3-4 ._1-5,
._3-4 ._2-5,
._3-4 ._3-5,
._3-4 ._4-5,
._3-4 ._1-6,
._3-4 ._5-6,
._1-5 ._1,
._1-5 ._1-2,
._1-5 ._1-3,
._1-5 ._2-3,
._1-5 ._1-4,
._1-5 ._3-4,
._1-5 ._1-5,
._1-5 ._2-5,
._1-5 ._3-5,
._1-5 ._4-5,
._1-5 ._1-6,
._1-5 ._5-6,
._2-5 ._1,
._2-5 ._1-2,
._2-5 ._1-3,
._2-5 ._2-3,
._2-5 ._1-4,
._2-5 ._3-4,
._2-5 ._1-5,
._2-5 ._2-5,
._2-5 ._3-5,
._2-5 ._4-5,
._2-5 ._1-6,
._2-5 ._5-6,
._3-5 ._1,
._3-5 ._1-2,
._3-5 ._1-3,
._3-5 ._2-3,
._3-5 ._1-4,
._3-5 ._3-4,
._3-5 ._1-5,
._3-5 ._2-5,
._3-5 ._3-5,
._3-5 ._4-5,
._3-5 ._1-6,
._3-5 ._5-6,
._4-5 ._1,
._4-5 ._1-2,
._4-5 ._1-3,
._4-5 ._2-3,
._4-5 ._1-4,
._4-5 ._3-4,
._4-5 ._1-5,
._4-5 ._2-5,
._4-5 ._3-5,
._4-5 ._4-5,
._4-5 ._1-6,
._4-5 ._5-6,
._1-6 ._1,
._1-6 ._1-2,
._1-6 ._1-3,
._1-6 ._2-3,
._1-6 ._1-4,
._1-6 ._3-4,
._1-6 ._1-5,
._1-6 ._2-5,
._1-6 ._3-5,
._1-6 ._4-5,
._1-6 ._1-6,
._1-6 ._5-6,
._5-6 ._1,
._5-6 ._1-2,
._5-6 ._1-3,
._5-6 ._2-3,
._5-6 ._1-4,
._5-6 ._3-4,
._5-6 ._1-5,
._5-6 ._2-5,
._5-6 ._3-5,
._5-6 ._4-5,
._5-6 ._1-6,
._5-6 ._5-6 {
  padding: .5 .75em;
}

._parent {
  padding: 0;
}

._pad {
  margin: .5em;
}

._no-t {
  padding-top: 0;
  margin-top: 0;
}

._no-r {
  padding-right: 0;
  margin-right: 0;
}

._no-b {
  padding-bottom: 0;
  margin-bottom: 0;
}

._no-l {
  padding-left: 0;
  margin-left: 0;
}

._1 {
  width: 100%;
}

._1-2 {
  width: 50%;
}

._1-3 {
  width: 33.33333%;
}

._2-3 {
  width: 66.666666%;
}

._1-4 {
  width: 25%;
}

._3-4 {
  width: 75%;
}

._1-5 {
  width: 20%;
}

._2-5 {
  width: 40%;
}

._3-5 {
  width: 60%;
}

._4-5 {
  width: 80%;
}

._1-6 {
  width: 16.6666667%;
}

._5-6 {
  width: 83.3333333%;
}

@media (max-width: 768px) {
  ._1,
  ._1-2,
  ._1-3,
  ._2-3,
  ._1-4,
  ._3-4,
  ._1-5,
  ._2-5,
  ._3-5,
  ._4-5,
  ._1-6,
  ._5-6 {
    width: 100%;
  }
  ._1 ._1,
  ._1 ._1-2,
  ._1 ._1-3,
  ._1 ._2-3,
  ._1 ._1-4,
  ._1 ._3-4,
  ._1 ._1-5,
  ._1 ._2-5,
  ._1 ._3-5,
  ._1 ._4-5,
  ._1 ._1-6,
  ._1 ._5-6,
  ._1-2 ._1,
  ._1-2 ._1-2,
  ._1-2 ._1-3,
  ._1-2 ._2-3,
  ._1-2 ._1-4,
  ._1-2 ._3-4,
  ._1-2 ._1-5,
  ._1-2 ._2-5,
  ._1-2 ._3-5,
  ._1-2 ._4-5,
  ._1-2 ._1-6,
  ._1-2 ._5-6,
  ._1-3 ._1,
  ._1-3 ._1-2,
  ._1-3 ._1-3,
  ._1-3 ._2-3,
  ._1-3 ._1-4,
  ._1-3 ._3-4,
  ._1-3 ._1-5,
  ._1-3 ._2-5,
  ._1-3 ._3-5,
  ._1-3 ._4-5,
  ._1-3 ._1-6,
  ._1-3 ._5-6,
  ._2-3 ._1,
  ._2-3 ._1-2,
  ._2-3 ._1-3,
  ._2-3 ._2-3,
  ._2-3 ._1-4,
  ._2-3 ._3-4,
  ._2-3 ._1-5,
  ._2-3 ._2-5,
  ._2-3 ._3-5,
  ._2-3 ._4-5,
  ._2-3 ._1-6,
  ._2-3 ._5-6,
  ._1-4 ._1,
  ._1-4 ._1-2,
  ._1-4 ._1-3,
  ._1-4 ._2-3,
  ._1-4 ._1-4,
  ._1-4 ._3-4,
  ._1-4 ._1-5,
  ._1-4 ._2-5,
  ._1-4 ._3-5,
  ._1-4 ._4-5,
  ._1-4 ._1-6,
  ._1-4 ._5-6,
  ._3-4 ._1,
  ._3-4 ._1-2,
  ._3-4 ._1-3,
  ._3-4 ._2-3,
  ._3-4 ._1-4,
  ._3-4 ._3-4,
  ._3-4 ._1-5,
  ._3-4 ._2-5,
  ._3-4 ._3-5,
  ._3-4 ._4-5,
  ._3-4 ._1-6,
  ._3-4 ._5-6,
  ._1-5 ._1,
  ._1-5 ._1-2,
  ._1-5 ._1-3,
  ._1-5 ._2-3,
  ._1-5 ._1-4,
  ._1-5 ._3-4,
  ._1-5 ._1-5,
  ._1-5 ._2-5,
  ._1-5 ._3-5,
  ._1-5 ._4-5,
  ._1-5 ._1-6,
  ._1-5 ._5-6,
  ._2-5 ._1,
  ._2-5 ._1-2,
  ._2-5 ._1-3,
  ._2-5 ._2-3,
  ._2-5 ._1-4,
  ._2-5 ._3-4,
  ._2-5 ._1-5,
  ._2-5 ._2-5,
  ._2-5 ._3-5,
  ._2-5 ._4-5,
  ._2-5 ._1-6,
  ._2-5 ._5-6,
  ._3-5 ._1,
  ._3-5 ._1-2,
  ._3-5 ._1-3,
  ._3-5 ._2-3,
  ._3-5 ._1-4,
  ._3-5 ._3-4,
  ._3-5 ._1-5,
  ._3-5 ._2-5,
  ._3-5 ._3-5,
  ._3-5 ._4-5,
  ._3-5 ._1-6,
  ._3-5 ._5-6,
  ._4-5 ._1,
  ._4-5 ._1-2,
  ._4-5 ._1-3,
  ._4-5 ._2-3,
  ._4-5 ._1-4,
  ._4-5 ._3-4,
  ._4-5 ._1-5,
  ._4-5 ._2-5,
  ._4-5 ._3-5,
  ._4-5 ._4-5,
  ._4-5 ._1-6,
  ._4-5 ._5-6,
  ._1-6 ._1,
  ._1-6 ._1-2,
  ._1-6 ._1-3,
  ._1-6 ._2-3,
  ._1-6 ._1-4,
  ._1-6 ._3-4,
  ._1-6 ._1-5,
  ._1-6 ._2-5,
  ._1-6 ._3-5,
  ._1-6 ._4-5,
  ._1-6 ._1-6,
  ._1-6 ._5-6,
  ._5-6 ._1,
  ._5-6 ._1-2,
  ._5-6 ._1-3,
  ._5-6 ._2-3,
  ._5-6 ._1-4,
  ._5-6 ._3-4,
  ._5-6 ._1-5,
  ._5-6 ._2-5,
  ._5-6 ._3-5,
  ._5-6 ._4-5,
  ._5-6 ._1-6,
  ._5-6 ._5-6 {
    width: 100%;
  }

  ._1-2 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  ._1,
  ._1-2,
  ._1-3,
  ._2-3,
  ._3-4,
  ._1-5,
  ._2-5,
  ._3-5,
  ._4-5,
  ._1-6,
  ._5-6 {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
  }
  ._1 ._1,
  ._1 ._1-2,
  ._1 ._1-3,
  ._1 ._2-3,
  ._1 ._1-4,
  ._1 ._3-4,
  ._1 ._1-5,
  ._1 ._2-5,
  ._1 ._3-5,
  ._1 ._4-5,
  ._1 ._1-6,
  ._1 ._5-6,
  ._1-2 ._1,
  ._1-2 ._1-2,
  ._1-2 ._1-3,
  ._1-2 ._2-3,
  ._1-2 ._1-4,
  ._1-2 ._3-4,
  ._1-2 ._1-5,
  ._1-2 ._2-5,
  ._1-2 ._3-5,
  ._1-2 ._4-5,
  ._1-2 ._1-6,
  ._1-2 ._5-6,
  ._1-3 ._1,
  ._1-3 ._1-2,
  ._1-3 ._1-3,
  ._1-3 ._2-3,
  ._1-3 ._1-4,
  ._1-3 ._3-4,
  ._1-3 ._1-5,
  ._1-3 ._2-5,
  ._1-3 ._3-5,
  ._1-3 ._4-5,
  ._1-3 ._1-6,
  ._1-3 ._5-6,
  ._2-3 ._1,
  ._2-3 ._1-2,
  ._2-3 ._1-3,
  ._2-3 ._2-3,
  ._2-3 ._1-4,
  ._2-3 ._3-4,
  ._2-3 ._1-5,
  ._2-3 ._2-5,
  ._2-3 ._3-5,
  ._2-3 ._4-5,
  ._2-3 ._1-6,
  ._2-3 ._5-6,
  ._3-4 ._1,
  ._3-4 ._1-2,
  ._3-4 ._1-3,
  ._3-4 ._2-3,
  ._3-4 ._1-4,
  ._3-4 ._3-4,
  ._3-4 ._1-5,
  ._3-4 ._2-5,
  ._3-4 ._3-5,
  ._3-4 ._4-5,
  ._3-4 ._1-6,
  ._3-4 ._5-6,
  ._1-5 ._1,
  ._1-5 ._1-2,
  ._1-5 ._1-3,
  ._1-5 ._2-3,
  ._1-5 ._1-4,
  ._1-5 ._3-4,
  ._1-5 ._1-5,
  ._1-5 ._2-5,
  ._1-5 ._3-5,
  ._1-5 ._4-5,
  ._1-5 ._1-6,
  ._1-5 ._5-6,
  ._2-5 ._1,
  ._2-5 ._1-2,
  ._2-5 ._1-3,
  ._2-5 ._2-3,
  ._2-5 ._1-4,
  ._2-5 ._3-4,
  ._2-5 ._1-5,
  ._2-5 ._2-5,
  ._2-5 ._3-5,
  ._2-5 ._4-5,
  ._2-5 ._1-6,
  ._2-5 ._5-6,
  ._3-5 ._1,
  ._3-5 ._1-2,
  ._3-5 ._1-3,
  ._3-5 ._2-3,
  ._3-5 ._1-4,
  ._3-5 ._3-4,
  ._3-5 ._1-5,
  ._3-5 ._2-5,
  ._3-5 ._3-5,
  ._3-5 ._4-5,
  ._3-5 ._1-6,
  ._3-5 ._5-6,
  ._4-5 ._1,
  ._4-5 ._1-2,
  ._4-5 ._1-3,
  ._4-5 ._2-3,
  ._4-5 ._1-4,
  ._4-5 ._3-4,
  ._4-5 ._1-5,
  ._4-5 ._2-5,
  ._4-5 ._3-5,
  ._4-5 ._4-5,
  ._4-5 ._1-6,
  ._4-5 ._5-6,
  ._1-6 ._1,
  ._1-6 ._1-2,
  ._1-6 ._1-3,
  ._1-6 ._2-3,
  ._1-6 ._1-4,
  ._1-6 ._3-4,
  ._1-6 ._1-5,
  ._1-6 ._2-5,
  ._1-6 ._3-5,
  ._1-6 ._4-5,
  ._1-6 ._1-6,
  ._1-6 ._5-6,
  ._5-6 ._1,
  ._5-6 ._1-2,
  ._5-6 ._1-3,
  ._5-6 ._2-3,
  ._5-6 ._1-4,
  ._5-6 ._3-4,
  ._5-6 ._1-5,
  ._5-6 ._2-5,
  ._5-6 ._3-5,
  ._5-6 ._4-5,
  ._5-6 ._1-6,
  ._5-6 ._5-6 {
    width: 100%;
    padding: .5em;
  }

  ._parent {
    padding: 0;
  }
}
